// scss variable

//color variables
$color-light-grey-1:#f7f7f7;
$color-grey-dark-1: #777;
$color-grey-light-1: #eee;
$color-white: #fff;
$color-black: #000;

$color-primary-dark-2: #008D8B;
$color-primary-dark-1: #06A4B8;
$color-primary-light-2: #5cc0D2;
$color-primary-light-1: #89D2DD;

//font
$default-font-size:1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 1rem;
$gutter-vertical-small:6rem;

//css variable
:root{
    --gutter-horizontal-css: 6rem;
}
    
