// About Us => Who We Are
// RIGHT SIDE
.about-us__img {
    position: relative;
    transition: all .3s;

    @include respond(tab-port) { 
        margin: 3rem 0;
        text-align: center;
        pointer-events: none !important;
    }
    // Base class for all photos
    &--photo {
        width: 40%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        box-shadow: 0 1rem 1.5rem rgba($color-black,.4);
        z-index: 10;
        transition: all .3s;

        @include respond(tab-land) {
            width: 45%;
        }
        @include respond(tab-port) { 
            width: 25%;
            position: relative;
            display: inline-block;
            
            &:not(:last-child){
                margin-right: 1rem;
            }

        } 

        &:hover {
            transform: scale(1.1);
            z-index: 20;
        }
    }

    &--1 {
        top: 0;
        left: 8rem;

        @include respond(tab-land) { 
            top: 0;
            left: 8rem;
        }
        @include respond(tab-port) { 
            top: 0;
            left: 0;
        }
    }

    &--2 {
        top: 9rem;
        left: 19rem;

        @include respond(tab-land) { 
            top: 8rem;
            left: 22rem;
        }
        @include respond(tab-port) {
            top: 0;
            left: 0;
        }
    }

    &--3 {
        top: 16rem;
        left: 28rem;

        @include respond(tab-land) { 
            top: 19rem;
            left: 8rem;
        }
        @include respond(tab-port) { 
            display: none;
        }
    }

    &--4 { 
        top: 23rem;
        left:37rem; 

        @include respond(tab-land) { 
            top: 27rem;
            left: 22rem;
        }
        @include respond(tab-port) {
            top: 0;
            left: 0;
        }
    }
    // Not hover photos, zoom out
    &:hover &--photo:not(:hover) { 
        transform: scale(.8);
        }
}
// LEFT SIDE
.about-us__left p {
    margin-left: 1.5rem;

    @include respond(tab-land) { 
        margin-left: 3rem;
    }
    @include respond(tab-port) { 
        margin: 0 5rem;
    }
}
